:root {
    --green: #50fa7b;
    --black: #2a2c37;

    --clr-bg: var(--black);
    --clr-primary: var(--green);
}

* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
  }

  body {
    background: var(--clr-bg);
    color: var(--clr-primary);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
