:root {
    --green: #50fa7b;
    --black: #2a2c37;
    --black-2: #1d1e26;
    --white: #f8f8f2;
    --purple: #9580ff;
    --grey-1: #c8c8c8;

    --clr-bg: var(--black);
    --clr-bg-2: var(--black-2);
    --clr-primary: var(--green);
    --clr-secondary: var(--purple);
    --clr-card-bg-hover: rgba(255, 255, 255, 0.1);
    --clr-text: var(--white);

    --window-height: 60vh;

    /* Sizing */
  --baseFontSize: 100%; /* 16px */
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1.125rem;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: var(--baseFontSize);
  }

  body {
    background: var(--clr-bg);
    color: var(--clr-primary);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
      --clr-bg: var(--white);
      --clr-bg-2: var(--grey-1);
      --clr-text: var(--black);
  }
